$primary: rgba(79, 70, 186, 1);
$BrightRed: rgba(249, 137, 107, 1);
$Sand: rgba(253, 188, 100, 1);
$Blue: rgba(55, 52, 169, 1);

.formContainer {
    position: relative;

    .signup {
        background-color: white;
        border-radius: 15px;
        text-align: center;
        padding: 40px 20px;
        position: absolute;
        border: 1px solid rgb(238, 238, 238);
        top: 70px;
        left: 10%;
        right: 10%;
        margin: auto;
        max-width: 380px;
        max-height: 80vh;
        color: $Blue;
        z-index: 400;
        box-shadow: 13px 24px 48px 0px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 13px 24px 48px 0px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 13px 24px 48px 0px rgba(0, 0, 0, 0.33);

        @media screen and(max-width:850px) {
            max-height: 82vh;
        }

        h1 {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        p {

            color: $primary;
            margin-bottom: 35px;

            &:nth-child(1) {
                margin-bottom: 15px;
            }
        }

        .Signupform {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                input {
                    width: 300px;
                    padding: 18px 20px;
                    border-radius: 10px;
                    border: 1px solid rgba(226, 226, 226, .5);
                    box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.1);
                    -webkit-box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.2);
                    margin-bottom: 15px;
                    max-width: 90%;


                    &::placeholder {
                        font-size: .9rem;
                    }
                }

                input[type='button'] {
                    background-color: $Blue;
                    color: white;
                    font-size: 1.3rem;
                    margin-top: 30px;
                    cursor: pointer;
                    box-shadow: 17px 22px 32px -3px rgba(0, 0, 0, 0.33);
                    -webkit-box-shadow: 17px 22px 32px -3px rgba(0, 0, 0, 0.33);
                    -moz-box-shadow: 17px 22px 32px -3px rgba(0, 0, 0, 0.33);
                    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        background-color: $primary;
                        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }

            .option2 {
                margin-top: 20px;

                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    color: $Blue;

                    @media screen and(max-width:850px) {
                        gap: 8px;
                    }

                    .icon {
                        padding: 10px;
                        font-size: 2.5rem;
                        border-radius: 8px;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(55, 52, 169, .2);
                            // color: white;
                        }
                    }
                }

            }
        }

        .user {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }
    }



    .overlay {
        position: absolute;
        background-color: $Blue;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        // opacity: .8;
        z-index: 40;
        // filter: blur(1rem);

    }
}