$primary: rgba(79, 70, 186, 1);
$BrightRed: rgba(249, 137, 107, 1);
$Sand: rgba(253, 188, 100, 1);
$Blue: rgba(55, 52, 169, 1);
$DarkGrey: rgb(102, 102, 109);
$lightkGrey: rgba(185, 184, 184, 0.3);

h1 {
    color: red($color: #000000);
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: flex-start;
    min-height: 70vh;
    padding: 40px 0;
    // border: 1px solid red;

    @media screen and (min-width:920px) {
        flex-direction: row;
        align-items: flex-start;
        min-height: 50vh;
        padding: 60px 0;
    }

    .leftSide {
        width: 100%;

        .head {
            font-size: clamp(1.6rem, 3.1vw, 4rem);
            margin-bottom: 40px;
            max-width: 500px;

            @media screen and (min-width:920px) {
                margin-bottom: 30px;
            }
        }

        .body {
            font-size: 1.1rem;
            color: rgb(102, 102, 109);
            line-height: 1.8rem;
            min-width: 250px;
            margin-bottom: 30px;

            @media screen and (min-width:920px) {
                max-width: 560px;
                padding-right: 100px;
            }

        }

        .morefaq {
            display: flex;
            align-items: center;

            span {
                color: $Blue;
                font-weight: bold;
                margin-right: 5px;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin-bottom: 20px;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;

        .head {
            line-height: 3.2rem;
            width: 100%;
        }

        .accord {
            height: fit-content;
            padding: 15px;
            cursor: pointer;
            // background-color: $lightkGrey;
            margin-bottom: 5px;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $lightkGrey;
                position: absolute;
                bottom: 5px;
                left: 0;
            }

            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                width: 100%;
                font-size: .9rem;
            }

            .desc {
                .body {
                    line-height: 2rem;
                    padding-right: 40px;
                    max-height: 0;
                    margin-top: 10px;
                    overflow: hidden;
                    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

                    &.open {
                        max-height: fit-content;
                        transition: all 0.5s cubic-bezier(1, 0, 1, 0);
                    }
                }
            }
        }


    }

    .icon {
        font-size: 1.5rem;
        cursor: pointer;
        color: $Blue;
    }
}