$primary: rgba(79, 70, 186, 1);
$BrightRed: rgba(249, 137, 107, 1);
$Sand: rgba(253, 188, 100, 1);
$Blue: rgba(55, 52, 169, 1);

// body {
//     position: relative;
// }

a {
    cursor: pointer;
}

.Navshadow {
    background-color: blue;
    box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 11px 8px -8px rgba(0, 0, 0, 0.2);
}


.navBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    // width: 85%;
    margin-inline: auto;
    background-color: white;
    // padding: 10px 140px 25px 140px;
    padding: 10px 140px 25px 140px;
    z-index: 30;


    @media screen and (max-width:1000px) {
        width: 90%;
        padding: 10px 30px 25px 30px;
    }

    .Navlinks,
    .Seclinks {
        display: flex;
    }

    li {
        padding: 8px 18px;
        border-radius: 20px;

    }

    a {
        font-size: 1rem;
        font-weight: 500;
    }

    .logo {
        font-size: 2rem;
        color: $primary;
        text-transform: uppercase;


        @media screen and (max-width:920px) {
            font-size: 1.6rem;

            .whiteLogo {
                color: white;
                padding-left: 10px;
            }
        }

        span {
            color: red;
        }
    }

    .container_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
        position: relative;

        @media screen and (max-width:920px) {
            flex-direction: column;
            width: 100%;
            margin-left: -800px;
            position: absolute;
            top: 0px;
            left: -2px;
            gap: 0rem;
            align-items: center;
            text-align: left;
            background-color: $Blue;
            padding: 70px 0 40px 0;
            height: 100vh;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

            .Navlinks,
            .newUser {
                flex-direction: column;
                gap: 0rem;
            }

            li {
                padding: 10px 20px;

                &:hover {
                    background-color: white;
                    color: $Blue;

                    a {
                        color: $Blue;
                    }
                }

                a {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: white;

                }
            }

        }

        .newUser {
            .Seclinks {
                display: flex;
                align-items: center;
                gap: 1rem;

                li {
                    &:nth-child(2) {
                        background-color: $Blue;

                        a {
                            color: white;
                        }
                    }

                    &:hover>.Seclinks {
                        background-color: red;
                    }
                }

                @media screen and (max-width:920px) {
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;

                    li {
                        &:nth-child(2) {
                            background-color: white;

                            a {
                                color: $Blue;
                            }
                        }
                    }
                }
            }
        }
    }

    .hide {
        display: none;
    }

    .hideOnMobile {
        // display: none;
        margin-left: 0;

        @media screen and (min-width:920px) {
            display: flex;
            transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        }
    }

    .toggleBtn {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        z-index: 400;

        @media screen and (max-width:920px) {
            display: block;
        }
    }

    #close {
        color: white;
    }

    // .overlay {
    //     position: absolute;
    //     background-color: black;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     height: 100vh;
    //     opacity: .4;
    //     z-index: -1;

    // }

    .secAbout {
        display: none;
        background-color: $Blue;
        position: absolute;
        left: 0;
        padding: 5px 0;
        width: 120px;
        margin-top: 18px;
        transition: all 0.5s ease-in;
        text-align: center;

        &::after {
            content: "";
            background-color: $Blue;
            height: 40px;
            width: 40px;
            position: absolute;
            transform: rotate(45deg);
            left: 35%;
            top: 0;
            z-index: -1;
        }

        li {
            &:first-child {
                border-bottom: 1px solid $primary;
                width: 100%;
                border-radius: 0;
                margin-bottom: 5px;
            }

            a {
                color: white;
            }
        }
    }

    .parentList {
        &:hover>.secAbout {
            display: block;
            margin-top: 15px;
            transition: all 0.5s ease-in;
        }
    }

    Link {
        cursor: pointer;
    }
}