$primary: rgba(79, 70, 186, 1);
$BrightRed: rgba(249, 137, 107, 1);
$Sand: rgba(253, 188, 100, 1);
$Blue: rgba(55, 52, 169, 1);
$DarkGrey: rgb(102, 102, 109);

h1 {
    color: red($color: #000000);
}

.header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    // border: 1px solid blue;

    .leftSide {
        margin-bottom: 20px;

        .btn {
            margin-left: 0;
            // margin-inline: auto;
        }

        .desc {
            display: flex;
            flex-direction: column;
        }

        .head {
            font-size: clamp(1.6rem, 3.1vw, 8rem);
            color: $Blue;
            margin-bottom: 15px;
        }

        .body {
            font-size: 1.1rem;
            color: $DarkGrey;
            line-height: 1.8rem;
            min-width: 300px;
        }
    }

    .rightSide {
        padding: 20px 0px;
        max-width: 100%;
        margin: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (min-width:920px) {
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        width: 85%;
        position: relative;
        overflow-x: hidden;
        text-align: left;

        .leftSide {
            max-width: 600px;
            padding: 50px 35px;

            .desc {
                display: flex;
                flex-direction: column;
                text-align: left;
            }

            .btn {
                margin-inline: 0;
            }

        }

        .rightSide {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            // margin: 20px;


            img {
                width: 57%;
                height: 90%;
                position: absolute;
                top: 30px;
                right: -40px;
            }

            .head {
                line-height: 3.2rem;
                max-width: 450px;
            }

            .body {
                line-height: 3.2rem;
                max-width: 500px;
            }

        }
    }
}